.toast-success {
  width: max-content;
  min-width: 280px;
  background-color: #fffcf4 !important;
  border-radius: 8px !important;
  border: 2px solid #6d4c41 !important;
  color: #4e342e !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 12px 20px !important;
  box-shadow: 2px 2px 0 rgba(78, 52, 46, 1) !important;
  text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.2) !important;
}
.toast-error {
  width: max-content;
  min-width: 280px;
  background-color: #ff8a65 !important;
  border-radius: 8px !important;
  border: 2px solid #ad2b1d !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 12px 20px !important;
  box-shadow: 2px 2px 0 #ad2b1d !important;
  text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.2) !important;
}

.toast-info {
  width: max-content;
  min-width: 280px;
  background-color: #b2ffd5 !important;
  border-radius: 8px !important;
  border: 2px solid #edd175 !important;
  color: #edd175 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 12px 20px !important;
  box-shadow: 2px 2px 0 #edd175 !important;
  text-shadow: 0.25px 0.25px 0 rgba(0, 0, 0, 0.1) !important;
}

.Toastify__toast:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}
